[package]
name = "turbopack-url"
version = "0.1.0"
description = "TBD"
license = "MIT"
edition = "2024"

[lib]
bench = false

[lints]
workspace = true

[dependencies]
url = { workspace = true }
percent-encoding = { workspace = true }
